html,
body,
#root,
.App {
  height: 100%;
}
.Flow {
  height: 100%;
}

.Flow {
  font-family: sans-serif;
  text-align: center;
}

.react-flow__node-monacoNode {
    background: #eee;
    border: 1px solid #555;
    border-radius: 5px;
  }

.yRemoteSelection {
    background-color: rgb(250, 129, 0, .4);
    opacity: 0.4;
}
.yRemoteSelectionHead {
    position: absolute;
    border-left: orange solid 2px;
    border-top: orange solid 2px;
    border-bottom: orange solid 2px;
    height: 100%;
    box-sizing: border-box;
}
.yRemoteSelectionHead::after {
    content: '';
    position: absolute;
    text-align: center;
    color: white;
    border : 2px solid orange;
    border-radius: 3px;
    bottom: 100%;
    /* left: 5px; */
    font-family: 'Segoe UI';
    opacity: 0;
    transition: all 0.2s;
    /* transform: translate(-50%, -10px); */
}
.yRemoteSelectionHead:hover::after{
  content: 'after';
  background-color: orange;
  box-shadow: 0 0 0 0px orange;
  opacity: 1;
}
